.border-box{
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 1em;
    padding: 1em;
}

.post_wrapper{
    margin-top: 25px;
    list-style: none;
}

.btn-primary{
    margin-top: 1em;
}